<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        Console

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/console.js"></script>
    </body>
</html>