<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        Instances
        <ul>
            {{#each instances}}
            <li>{{ec2InstanceId}}</li> <button onclick="startInstance('{{ec2InstanceId}}')">Start</button>
            {{/each}}
        </ul>

        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/instances.js"></script>
    </body>
</html>